<section class="search-input">
    <input type="text" class="form-control" placeholder="Search by person name"
           @bind-value="@SearchTerm" @bind-value:event="oninput"
           @onkeyup="SearchChanged" />
</section>