<section>
    <select class="form-control" @onchange="ApplySort">
	    <option value="name">Name asc</option>
        <option value="name desc">Name desc</option>
        <option value="surname">Surname asc</option>
        <option value="surname desc">Surname desc</option>
        <option selected="selected" value="dayOfBirth">Birthday asc</option>
        <option value="dayOfBirth desc">Birthday desc</option>
        <option value="dayOfNameDay">Nameday asc</option>
        <option value="dayOfNameDay desc">Nameday desc</option>
    </select>
</section>