<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">-Sort By-</option>
        <option value="name">Name</option>
        <option value="surname">Surname</option>
        <option value="dayOfBirth">DayOfBirth: Low to High</option>
        <option value="dayOfBirth desc">DayOfBirth: High to Low</option>
    </select>
</section>