@page "/404"

<div class="card customNotFound">
    <div class="card-body">       
        <div class="col">
            We are sorry, but we couldn't find the page you are looking for!
        </div>        
    </div>
</div>
<div class="row">
    <div class="col text-md-center m-5 text-primary">
        <button type="button" class="btn btn-primary"
                @onclick="NavigateToHome">
            Navigate to the Login Page
        </button>
    </div>
</div>