@page "/index"
@using BDayClient.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Administrator")]

<br />
<br />
<div class="row">
    <div class="col">
        <PersonTable Persons="PersonList" hideButtons="true" />
    </div>
</div>

