@page "/users"
@using BDayClient.Components
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Administrator")]

<div class="row">
    <div class="col">
        <UsersTable Users="UsersList" LoggedUser="@LoggedUserName" OnUpdate="UpdateUser" OnRemoveAdminRole="RemoveAdminRole" OnDeleteUser="DeleteUser" OnChange2StepsAuthorization="Change2StepsAuthorization"/>
    </div>
</div>